@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');

* {                /*use the universal selector to override the browser default margin - 8px*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


/* NAVIGATION */

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;   /* all images are 100% of its parent, CLASSES such as .logo have priority */
  height: 100%;
  max-height: 50vh; /* for larger screens to ensure text does not get pushed */
  padding: 20px;
}

p {
  line-height: 1.5;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}

.text__purple {
  color: purple;
}

.logo {
  width: 160px;
}

ul {
  display: flex;     /*bring list side by side*/
}

li {
  list-style: none;
}


.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: purple;
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid purple;
  border-radius: 4px;
  background-color: aqua;
}

.nav__link--primary:hover {              /* put the primary hover below the regular link hover because css gives it priority to carry out its function*/
  text-decoration: none;  
}


#landing {
  background-color: beige;
}


header {
  height: calc(100vh - 80px);      /* vh minus the height of the navigation bar, content fills the rest of the page */
}

.header__container {
  width: 100%;         /* spanning whole width of the page */
  height: 100%;
  max-width: 720px;     /* cap for the width */
  margin: 0 auto;        /* centering the text */
  display: flex;
  flex-direction: column;
  justify-content: space-around;   /*spaced content in a while still adhering to the column requirement */
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: purple;
  margin-bottom: 24px;
  text-align-last: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;

}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: purple;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.header__img--wrapper {
  padding: 20px;          /* img not touching the sides. adding an extra layer */
}

.container{
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 

HIGHLIGHTS

*/

#highlights {
  position: relative;
}

#highlights:before {
  background: url('assets/wave.svg');
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;       /*height gets larger the wider the screen gets */
  top: 1px;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;        /*brings to left and right of page without overlapping */
  transform: translateY(-100%);
}

.highlight__wrapper {
  display: flex;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);    /* row width set to 100% of the 1200 max width. the 3 highlighted sections are divided evenly and flex sits them side by side. */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__img {
  border: 2px solid purple;
  color: purple;
  width: 100px;
  height: 100px;
  display: flex;          /* parent controlling the icon <i> */
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;

}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
}