@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');

* {                /*use the universal selector to override the browser default margin - 8px*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


/* NAVIGATION */

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;   /* all images are 100% of its parent, CLASSES such as .logo have priority */
  max-height: 50vh; /* for larger screens to ensure text does not get pushed */

}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}

.text__purple {
  color: purple;
}

.logo {
  width: 160px;
}

ul {
  display: flex;     /*bring list side by side*/
}

li {
  list-style: none;
}


.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: purple;
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid purple;
  border-radius: 4px;
  background-color: aqua;
}

.nav__link--primary:hover {              /* put the primary hover below the regular link hover because css gives it priority to carry out its function*/
  text-decoration: none;  
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: purple;
}

.menu__backdrop {
  position: absolute;    /* dont want it affecting anything on the page */
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;   /* or use 100vh and 100vw */
  z-index: 100;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

.menu--open .menu__backdrop {
  display: flex;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: #ffff;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/*

LANDING

*/

#landing {
  background-color: beige;
}


header {
  height: calc(100vh - 80px);      /* vh minus the height of the navigation bar, content fills the rest of the page */
}

.header__container {
  width: 100%;         /* spanning whole width of the page */
  height: 100%;
  max-width: 720px;     /* cap for the width */
  margin: 0 auto;        /* centering the text */
  display: flex;
  flex-direction: column;
  justify-content: space-around;   /*spaced content in a while still adhering to the column requirement */
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: purple;
  margin-bottom: 24px;
  text-align-last: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;

}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: purple;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.header__img--wrapper {
  padding: 20px;          /* img not touching the sides. adding an extra layer */
  z-index: 2;
}

.container{
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no__cursor {
  cursor: not-allowed;
}

/* 

HIGHLIGHTS

*/

#highlights {
  position: relative;
}

#highlights:after,
#highlights:before {
  background: url('assets/wave.svg');
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;       /*height gets larger the wider the screen gets */
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;        /*brings to left and right of page without overlapping */
}


#highlights:before {
  top: 1px;
  transform: translateY(-100%);
}

#highlights:after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper {
  display: flex;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);    /* row width set to 100% of the 1200 max width. the 3 highlighted sections are divided evenly and flex sits them side by side. */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.highlight__para {
  text-align: center;
  max-width: 280px;
}


.highlight__img {
  border: 2px solid purple;
  color: purple;
  width: 100px;
  height: 100px;
  display: flex;          /* parent controlling the icon <i> */
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
}

/*

FEATURES 

*/


#features {
  padding-top: 8vw;          /* instead of using height: px; to hardcoding the height, adding padding 8vw. 
  Because the wave image is based on vw, the padding top needs to also be based on vw. */
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 25%; 
  padding: 24px; 

}

.book__img {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: not-allowed;     /* tells the user the page is not clickable */
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;    /* removes the gap below when the image scales on hover */

}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
  
}

.book__title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}


/* 

EXPLORE
 
*/

#explore {
    background-color: rgba(115, 66, 214, 0.1);

}


/* 

FOOTER

*/

footer {
  background-color: #242424;

}

.footer__logo {
  display: flex; 
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
  color: #ffff;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}

/* 

MEDIA

*/

@media (max-width: 550px) {
  .nav__links{
    display
  }
} 